<div *ngIf="product.name" class="card">
  <img class="card-img-top" [src]="product.image_url" *ngIf="product.image_url" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.price | currency:'USD':'symbol' }}</h6>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div class="card-footer">
    <a *ngIf="showActions" href="#" class="btn btn-primary btn-block">Add to Cart</a>
  </div>
</div>
