.card {
  margin-bottom: 30px;
  max-width: 390px;
}

.card-footer {
  padding: 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-footer button {
  cursor: pointer;
}
