<div *ngIf="product.name" class="card">
  <img class="card-img-top" [src]="product.image_url" *ngIf="product.image_url" alt="{{ product.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ product.price | currency:'USD':'symbol' }}</h6>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div *ngIf="showActions && cart" class="card-footer">
    <button
      *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [quantity]="cart.getQuantity(product)"></product-quantity>
    </ng-template>
  </div>
</div>
