<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form #f="ngForm" (ngSubmit)="register(f.value)">
      <h2>Registration</h2>

      <div class="form-group">
        <div *ngIf="invalidData" class="alert alert-danger">Invalid data.</div>
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" id="inputFirstName" name="first_name" ngModel class="form-control" placeholder="First Name">
      </div>

      <div class="form-group">
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="text" id="inputLastName" name="last_name" ngModel class="form-control" placeholder="Last Name">
      </div>

      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address"
               required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
               required>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

    </form>
  </div>
</div>
