@import "~bootstrap/dist/css/bootstrap.css";

$primary-color: #0c7c59;
$primary-color-hover: #2b303a;

body {
  padding-top: 80px;
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
}

.navbar {
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: $primary-color;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $primary-color-hover;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
}
